.navbar{
    background-color: #48C0EA!important;
}

.navbar-brand {
    font-family: 'Cherry Bomb One', cursive;
    color: #EA551B;
}
.navbar-brand:hover{
    font-family: 'Cherry Bomb One', cursive;
    color: #e38b68!important;
}

.nav-link{
    font-family: 'Cherry Bomb One', cursive;
    color: #e38b68!important;
}

.nav-link:hover{
    font-family: 'Cherry Bomb One', cursive;
    color: #EA551B!important;
}

.nav-link active{
    font-family: 'Cherry Bomb One', cursive;
    color: #EA551B!important;
}

.container h2{
    font-family: 'Cherry Bomb One', cursive;
    color: #EA551B!important;
}

/* Card */

.card {
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}

.card-title {
    font-family: 'Cherry Bomb One', cursive;
    color: #EA551B!important;
}
.card-text {
    font-family: 'Cherry Bomb One', cursive;
    color: #48C0EA!important;
}

.container mt-5 pt-5{
    margin-top: -100;
}

.card-img-top {
    width:auto;
    height:200px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}



.card-img-last {
    width:auto;
    height:200px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}


.card-img-middle {
    width:auto;
    height:200px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}


.card-img-right {
    width:auto;
    height:200px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}



.card-img-left {
    width:auto;
    height:200px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.weather-widget-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.weather-widget-container h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}
.weather-widget-container p {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
}
.weather-widget-container img {
    width: 80px;
    height: 80px;
}

